#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: ivory;
  color: black;
}

h1 {
  color: indigo;
}

table {
  text-align: center;
  border-spacing: 10px;
}
